// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;

$yellow: #FFF9D7;
$light-blue: #E8EEF2;
$oldlight-blue: #C2DFE3;
$blue: #9DB4C0;
$light-gray: #5C6B73;
$dark-gray: #253237;
