_
.home-background{
  background: #F5EBA9;
  background-image: linear-gradient(-180deg, rgba(45,45,250,0.00) 0%, rgba(255,255,255,0.80) 40%),
  url(https://res.cloudinary.com/dgbt9zicg/image/upload/v1506528883/background_ncdtm7.png);
}

.banner {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.2) 50%),
  url(https://res.cloudinary.com/dgbt9zicg/image/upload/v1506528883/Banner_av41ss.jpg);
}
.general-wrapper {
  height: 100vh;
  position: relative;
  // opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#podologie {
  background-image:linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.2) 70%),
  url(https://res.cloudinary.com/dgbt9zicg/image/upload/v1506528874/podologie_yb6vbu.jpg);
}

#semelles {
  background-image:linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.2) 50%),
  url(https://res.cloudinary.com/dgbt9zicg/image/upload/a_180/v1506528860/semelles_pk37r5.jpg);
}

#sport {
  background-image:linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.2) 50%),
  url(https://res.cloudinary.com/dgbt9zicg/image/upload/v1506528862/sport_zrloat.jpg);
}

#ortoplastie {
  background-image:linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.2) 50%),
  url(https://res.cloudinary.com/dgbt9zicg/image/upload/v1506528875/pedicurie_tvpuo7.jpg);
}

#pedicurie {
  background-image:linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.2) 50%),
  url(https://res.cloudinary.com/dgbt9zicg/image/upload/v1506528881/Podiatry_vv1kft.jpg);
}

#adeline {
  background-image:linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.2) 50%),
  url(https://res.cloudinary.com/dgbt9zicg/image/upload/v1506528862/parcours_mcmitn.jpg);
}

#ou {
  background-image:linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.2) 50%),
  url(https://res.cloudinary.com/dgbt9zicg/image/upload/v1506528867/cabinet_pa2aao.jpg);
}

#rdv {
  background-image:linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.2) 50%),
  url(https://res.cloudinary.com/dgbt9zicg/image/upload/v1506528875/rdv_ba7qr9.jpg);
}
