@media (min-width: 1200px) {
  // .container {
  //   width: 100vw;
  // }
}

// Specific CSS for your home-page
.containe{
  display: flex;
  padding-left: 0px;
  padding-right: 0px;
}
.home-background {
}

// sidebar voir scss partiel
.sidebar {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  z-index: 1030;
  width: 60px;
  height: 100%;
  top: 0;
  left:0;
}
.sidebar:hover {
 width:250px;
}

// content

.container-flui {
  padding-left: 0px;
  padding-right: 0px;
  width: calc(100vw - 60px);
}

// Banner
.banner {
  color: $light-blue;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  .btn-medium {
    position: relative;
    top: 20px;
  }
}
.banner h1 {
  font-family: $banner-font ;
  font-size: 55px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  @media(max-width: 992px) {
    font-size: 45px;
  }
  @media(max-width: 575px) {
    font-size: 20px;
  }
}

.banner h2 {
  margin: 15px;
  font-family: $name-font ;
  font-size: 60px;
  font-weight: lighter;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  @media(max-width: 575px) {
    font-size: 25px;
  }
}

.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: $light-gray;
  opacity: 0.6;
  margin-bottom: 30px;
  @media(max-width: 575px) {
    font-size: 15px;
  }
}

// generaux sous banner
.general-wrapper{
  color: $blue;
  page-break-after: always ;
  font-size:18px;
  // justify-content: space-between;
  align-items: center;
  flex-direction: column;
  display: flex;
  @media(max-width: 575px) {
    font-size:12px;
  }
}
// general content
.general-content {
  // display: flex;
  color: $light-blue;
  padding: 2.5%;
  background-color: rgba(157, 180, 192,0.4);

}

.text{
  padding: 1.5%;
}

// image side
.side-image {
  display: flex;
  align-items: center;
  // justify-content: space-around;
  // flex: 1 0 35%;
  // opacity: 0.9 !important;
  // .img {
  //   width: 50%;
  //   height: auto;
  // }
}
.carousel-inner img{
  width:100%;
}


// responsive
// desactivation sidebar on mobile

@media (max-width: 575px) {
  .sidebar {
    display: none;
  }
  .container-flui {
    width: 100vw;
  }
  .fa {
    height: auto;
  }
}
@media (min-width: 577px) {
  .navbar {
    display: none;
  }
}
