// forcage suppression margin row
.row {
  margin-left: 0px;
  margin-right: 0px;
}

@media (min-width: 1200px) {
  // .container {
  //   width: 100vw;
  // }
}

// Specific CSS for your home-page
.containe{
  display: flex;
  padding-left: 0px;
  padding-right: 0px;
}
.home-background {
}

.style1 {
  // border-radius: 5px;
  // border: 1px solid $dark-gray;
  // background-color: rgba(232, 238, 242, 0.5);
  color: $dark-gray;
  padding: 10px;
  margin: 5px;
}
.style2 {
  border-radius: 5px;
  border: 1px solid $light-gray;
  background-color: rgba(37, 50, 55, 0.5);
  color: $light-blue;
  padding: 10px;
  margin: 5px;
}

// sidebar voir scss partiel
.sidebar {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  z-index: 1030;
  width: 60px;
  height: 100%;
  top: 0;
  left:0;
}
.sidebar:hover {
 width:250px;
}

// content

.container-flui {
  padding-left: 0px;
  padding-right: 0px;
  width: calc(100vw - 60px);
}

// Banner
.banner {
  color: $light-blue;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  .btn-medium {
    position: relative;
    top: 20px;
  }
}
.banner h1 {
  padding: 15px;
  font-family: $banner-font;
  font-size: 55px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  @media(max-width: 992px) {
    font-size: 45px;
  }
  @media(max-width: 575px) {
    font-size: 20px;
  }
}

.banner h2 {
  margin: 15px;
  font-family: $name-font ;
  font-size: 60px;
  font-weight: lighter;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  @media(max-width: 992px) {
    font-size: 25px;
  }
}

.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: $light-gray;
  opacity: 0.6;
  margin-bottom: 30px;
  @media(max-width: 992px) {
    font-size: 15px;
  }
}

// sous banner
.underbanner {
  color: $oldlight-blue;
  background-color: $dark-gray;
  text-align:center;
  text-align: justify;
  padding:5% 12%;
  font-size: 14px;
  span {
    font-family: $name-font;
    font-size:25px
  }
}
// generaux
.general-wrapper{
  height: 100%;
  color: $blue;
  page-break-after: always ;
  font-size:14px;
  // justify-content: space-between;
  align-items: center;
  flex-direction: column;
  display: flex;
  @media(max-width: 992px) {
    font-size:12px;
  }
}
// special homepage
.general-wrapper#adeline {
  height: unset;
}

// general content
.general-content {
  color: $dark-gray;
  padding: 10px;
  font-family: $body-font;
  box-shadow: 0 5px 0 rgba(0,0,0,0.05);
  border-radius: 8px;
  background-color: rgba(232,238,242,0.2);
  p {
    font-size: 13px;
  }

}

.text{
  padding: 1%;
}


// image side
.side-image {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5px;
  border-radius: 5px;
}
.carousel-inner img{
  width:100%;
}
.btn-bas {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
}

.parcours h4 {
  font-family: $name-font;
  font-weight: bold;
  font-size: 35px;
}
.parcours h3 {
  font-family: $name-font
}

// responsive
// desactivation sidebar on mobile

@media (max-width: 992px) {
  .sidebar {
    display: none;
  }
  .container-flui {
    width: 100vw;
  }
  .fa {
    height: auto;
  }
  .first-text {
    margin-top: 55px;
  }
  .text-left p {
    font-size: 10px;
  }
}
@media (min-width: 993px) {
  .mobile-navbar {
    display: none;
  }
  .first-image {
    margin-top: 55px;
  }
}

@media (min-width: 767px) {
  .first-image {
    margin-top: 55px;
  }
}
