iframe {
  width: 100% ;
}

// @media only screen and (max-width: 962px) {
//   iframe { width: 90vw;
//   }
// }

.card-info {
  color: $dark-gray;
  padding: 10px;
  margin: 10px;
  margin-top: 30px;
  font-family: $body-font;
  background-color: rgba(232,238,242,0.2);
  box-shadow: 0 5px 0 rgba(0,0,0,0.05);
  border-radius: 8px;
  h3{
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 25px;
    font-family: $name-font;
  }
  p {
    font-size: 13px;
  }
  li {
    font-size: 13px;
  }
  ul {
    font-size: 13px;
  }
  a {
    // text-decoration: none;
    color: #3A2CDB;
    font-size: 13px;
    font-weight: bold;
  }
  a:hover {
    color: $blue;
  }
}
