<div class="footer-container">
  <div class="footer">
    <div class="footer-links">
      <div class="footer-content">
        <p>Contacts </p>
        <i class="fa fa-phone "> 09.87.38.84.21 </i> <br>
        <i itemprop="email" class="fa fa-envelope "> adeline@podologue-sisteron.fr </i>
      </div>
      <div class="footer-content">
        <p>Utile</p>
        <a href="../pages/rdv"><i class="fa fa-calendar "></i>  Prendre Rendez vous en ligne</a>
        <a href="https://goo.gl/maps/66NiWLUQap42"><i class="fa fa-road"></i> Itinéraire</a>
        <a href="http://www.onpp.fr/code-de-deontologie/525.html"> règles déontologiques ONPP </a>
        <a href="http://www.onpp.fr/annuaire.html "> annuaire des pédicures-podologues</a>
      </p>
    </div>
  </div>
  <div class="footer-copyright text-center ">
    This site is made <br> with <i class="fa fa-heart"></i> by Bout
  </div>
</div>
</div>
