<div class="footer-container">
  <div class="footer">
    <div class="footer-links">
      <div class="footer-content contact">
        <p>Contacts </p>
        <li><i class="fa fa-phone "> 04.92.00.00.00 </i> </li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      </div>
      <div class="footer-content">
        <p>Utile</p>
        <li><a href="../pages/rdv"><i class="fa fa-calendar "></i>  Prendre Rendez vous en ligne</a></li>
        <li><a href="https://goo.gl/maps/66NiWLUQap42"><i class="fa fa-road"></i> Itinéraire</a></li>
        <li><a href="../pages/tarifs"> Actes et remboursements</a></li>
      </div>
      <div class="footer-content">
        <p>Soins</p>
        <li><a href="../pages/podologie"> La podologie</a></li>
        <li><a href="../pages/semelles"> Semelles orthopédiques</a></li>
        <li><a href="../pages/orthoplasties"> Orthoplasties</a></li>
        <li><a href="../pages/pedicurie"> Pédicurie</a></li>
        <li><a href="../pages/sport"> La podologie du sport</a></li>
      </div>
    </div>
    <div class="footer-copyright">
      This site is made with <i class="fa fa-heart"></i> by Bout
    </div>
  </div>
</div>
