<header>
  <nav class="navbar">
    <div class="logo">
      Adeline GUILLAUME
    </div>
    <div class="sitenavigation">
      <span class="menu-icon">
        <a href="#" class="menu example5"><span></span></a>
        <div id="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </span>
      <ul>
        <li>
          <a href=".."><span class="nav-text">
            <i class="fa fa-home fa-2x"></i> Accueil</span></a>
        </li>
        <li>
          <a href="..#adeline"><span class="nav-text">
            <i class="fa fa-user-md fa-2x"></i>
            Mon parcours</span></a>
        </li>
        <li>
          <a href="..#ou"><span class="nav-text">
          <i class="fa fa-map fa-2x"></i>
          Où trouver le cabinet</span></a>
        </li>
        <li>
          <a href="../pages/rdv"><span class="nav-text">
          <i class="fa fa-calendar "> RDV </i>
          Prise de rendez-vous</span></a>
        </li>
        <li>
          <a href="../pages/rdv"><span class="nav-text">
          <i class="fa fa-phone fa-2x"></i>
          Contact</span></a>
        </li>

        <li class="nav-dropdown"><a href="#"><span class="nav-text"><i class="fa fa-plus-square fa-2x"></i>Les différents soins</span></a>
          <ul>
            <li class="has-subnav">
              <a href="../pages/soins#podologie"><span class="nav-text">
              <i class="fa fa-heartbeat fa-2x"></i>
              La podologie</span></a>
            </li>
            <li class="has-subnav">
              <a href="../pages/soins#semelles"><span class="nav-text">
              <i class="fa fa-info-circle fa-2x"></i>
              Les semmelles orthopédiques</span></a>
            </li>
            <li class="has-subnav">
              <a href="../pages/soins#sport"><span class="nav-text">
              <i class="fa fa-futbol-o fa-2x"></i>
              La podologie du sport</span></a>
            </li>
            <li>
              <a href="../pages/soins#ortoplastie"><span class="nav-text">
              <i class="fa fa-medkit fa-2x"></i>
              Ortoplastie et Ortonexie</span></a>
            </li>
            <li>
              <a href="../pages/soins#pedicurie"><span class="nav-text">
              <i class="fa fa-heart-o fa-2x"></i>
              Les soins de pédicurie</span></a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
</nav>
</header>
