<header>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <div id="hamburger">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </button>
        <a class="logo" href="..">Adeline Guillaume</a>
      </div>
      <div class="sitenavigation">
        <ul class="nav navbar-nav navbar-right" id="bs-example-navbar-collapse-1">

          <li>
           <a href="..#adeline">
             <i class="fa fa-user-md"></i>
             <span class="nav-text">
              Votre podologue
            </span>
          </a>
        </li>
        <li>
         <a href="../pages/soins">
          <i class="fa fa-map"></i>
          <span class="nav-text">
            Les pathologies du pied
          </span>
        </a>
      </li>
      <li>
        <a href="../pages/tarifs">
         <i class="fa fa-hospital-o"></i>
         <span class="nav-text">
          Actes et remboursement
        </span>
      </a>
    </li>

    <li>
      <a href="../pages/rdv">
       <i class="fa fa-calendar "></i>
       <span class="nav-text">
        Rdv en ligne
      </span>
    </a>
  </li>
  <li class="nav-dropdown"><a href="#"><span class="nav-text"><i class="fa fa-plus-square"></i> Les différents soins</span></a>
    <ul>
      <li>
        <a href="../pages/podologie">
          <i class="fa fa-heartbeat"></i>
          <span class="nav-text">
            La podologie
          </span>
        </a>
      </li>
      <li>
        <a href="../pages/semelles">
         <i class="fa fa-info-circle"></i>
         <span class="nav-text">
          Les semmelles orthopédiques
        </span>
      </a>
    </li>
    <li>
      <a href="../pages/sport">
       <i class="fa fa-futbol-o"></i>
       <span class="nav-text">
        La podologie du sport
      </span>
    </a>
  </li>
  <li>
    <a href="../pages/orthoplasties">
      <i class="fa fa-medkit"></i>
      <span class="nav-text">
        Orthoplastie et orthonyxie
      </span>
    </a>
  </li>
  <li>
    <a href="../pages/pedicurie">
      <i class="fa fa-heart-o"></i>
      <span class="nav-text">
        Les soins de pédicurie
      </span>
    </a>
  </li>
</ul>
</li>

</ul>
</div>
</div>
</nav>
</header>
