<nav class="main-menu">
  <ul>
    <li>
      <a href="..">
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text">
          Accueil
        </span>
      </a>
    </li>
    <li>
     <a href="..#adeline">
       <i class="fa fa-user-md fa-2x"></i>
       <span class="nav-text">
        Mon parcours et mes qualifications
      </span>
    </a>
  </li>
  <li>
   <a href="..#ou">
    <i class="fa fa-map fa-2x"></i>
    <span class="nav-text">
      Où trouver le cabinet
    </span>
  </a>
</li>
<li class="has-subnav">
  <a href="../pages/soins#podologie">
    <i class="fa fa-heartbeat fa-2x"></i>
    <span class="nav-text">
      La podologie
    </span>
  </a>
</li>
<li class="has-subnav">
  <a href="../pages/soins#semelles">
   <i class="fa fa-info-circle fa-2x"></i>
   <span class="nav-text">
    Les semmelles orthopédiques
  </span>
</a>
</li>
<li class="has-subnav">
  <a href="../pages/soins#sport">
   <i class="fa fa-futbol-o fa-2x"></i>
   <span class="nav-text">
    La podologie du sport
  </span>
</a>

</li>
<li>
  <a href="../pages/soins#ortoplastie">
    <i class="fa fa-medkit fa-2x"></i>
    <span class="nav-text">
      Ortoplastie et Ortonexie
    </span>
  </a>
</li>
<li>
  <a href="../pages/soins#pedicurie">
    <i class="fa fa-heart-o fa-2x"></i>
    <span class="nav-text">
      Les soins de pédicurie
    </span>
  </a>
</li>
<li>
  <a href="../pages/rdv">
   <i class="fa fa-calendar "> RDV </i>
   <!--    // class="fa fa-calendar  fa-2x" -->
   <span class="nav-text">
    Prise de rendez-vous
  </span>
</a>
</li>
<li>
  <a href="../pages/rdv">
   <i class="fa fa-phone  fa-2x"></i>
   <span class="nav-text">
    Contact
  </span>
</a>
</li>
</ul>

</nav>
