<nav class="main-menu">
  <ul>
    <li>
      <a href="..">
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text">
          Accueil
        </span>
      </a>
    </li>
    <li>
     <a href="..#adeline">
       <i class="fa fa-user-md fa-2x"></i>
       <span class="nav-text">
        Mon parcours et mes qualifications
      </span>
    </a>
  </li>
  <li>
   <a href="../pages/soins">
    <i class="fa fa-map fa-2x"></i>
    <span class="nav-text">
      Les principales pathologies du pied
    </span>
  </a>
</li>
<li>
  <a href="../pages/podologie">
    <i class="fa fa-heartbeat fa-2x"></i>
    <span class="nav-text">
      La podologie
    </span>
  </a>
</li>
<li>
  <a href="../pages/semelles">
   <i class="fa fa-info-circle fa-2x"></i>
   <span class="nav-text">
    Les semmelles orthopédiques
  </span>
</a>
</li>
<li>
  <a href="../pages/sport">
   <i class="fa fa-futbol-o fa-2x"></i>
   <span class="nav-text">
    La podologie du sport
  </span>
</a>
</li>
<li>
  <a href="../pages/orthoplasties">
    <i class="fa fa-medkit fa-2x"></i>
    <span class="nav-text">
      Orthoplastie et orthonyxie
    </span>
  </a>
</li>
<li>
  <a href="../pages/pedicurie">
    <i class="fa fa-heart-o fa-2x"></i>
    <span class="nav-text">
      Les soins de pédicurie
    </span>
  </a>
</li>
<li>
  <a href="../pages/tarifs">
   <i class="fa fa-hospital-o"></i>
   <span class="nav-text">
    Actes et remboursement
  </span>
</a>
</li>

<li>
  <a href="../pages/rdv">
   <i class="fa fa-calendar "> RDV </i>
   <span class="nav-text">
    Prise de rendez-vous et contact
  </span>
</a>
</li>
</ul>

</nav>
