
<div class="col-xs-12 col-md-3 col-lg-2">
  <div class="card-info">
    <div class="title-info">
      <h3>Prendre Rendez-vous</h3>
    </div>
    <div class="content-info">
      <p><i class="fa fa-map-o"></i> - 24 Avenue de la Libération, les Grands Clots, entrée les Duyes, 04200 Sisteron</p>
      <p><i class="fa fa-phone "></i> - 09.87.38.84.21 </p>
      <a href="../pages/rdv"><i class="fa fa-calendar "></i>  Prendre Rendez vous en ligne</a>
    </div>
  </div>
  <div class="card-info">
    <div class="title-info">
      <h3>Jours et horaires d'ouverture</h3>
    </div>
    <div class="content-info">
      <p>Consultations au cabinet:</p>
      <li>Mardi de 9h00 à 19h</li>
      <li>Mercredi de 9h00 à 20h</li>
      <li>Vendredi selon disponibilités</li>
    </div>
  </div>
  <div class="card-info">
    <div class="title-info">
      <h3>Comment venir au cabinet ?</h3>
    </div>
    <div class="content-info">
      <p>Parking possible dans la résidence ou au parking de la gare</p>
      <p>Immeuble du grand clots en face le parking de la gare</p>
      <p>Entrée au fond de la cours à gauche de l'immeuble, Entrée "les Duyes".</p>
      <a href="https://goo.gl/maps/66NiWLUQap42"><i class="fa fa-road"></i> Itinéraire Google Maps</a>
    </div>
  </div>

  <div class="card-info">
    <div class="title-info">
      <h3>Plan et situation</h3>
    </div>
    <div class="content-info">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1178.6189413328716!2d5.944055622024174!3d44.19085839924084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12cba6f45dcedda5%3A0x5e6e5c39ccab367b!2sAdeline+Guillaume+p%C3%A9dicure+podologue!5e1!3m2!1sfr!2sfr!4v1510161058574" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
