
<div class="main-container">

  <div class="sidebar">
    <%= render "shared/navbar"%>
  </div>

  <div class="general-container home-background" style="background: #F5EBA9; background-image: linear-gradient(-180deg, rgba(42,245,152,0.00) 0%, rgba(255,255,255,0.80) 40%), url('<%= image_url "background.png" %>');">
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.2) 50%), url('<%= image_url "Banner.jpeg" %>');">
      <div class="banner-content">
        <h1>Bienvenue au cabinet de Pédicure - Podologie </h1>
        <h2>Adeline Guillaume</h2>
        <a class="btn-medium">Continuer</a>
      </div>
    </div>

    <div class= general-wrapper>
      <div class="general-content">
        <p>Modalités d’exercice libéral
          Art. R. 4322-71. - Les seules indications que le pédicure-podologue est
          autorisé à mentionner sur ses imprimés professionnels, notamment ses feuilles
          d’ordonnance, notes d’honoraires, cartes professionnelles et cartes de visite,
          sont:
          — ses nom, prénoms, numéro d’inscription à l’Ordre, adresse postale, numéros
          de téléphone et télécopie, messagerie électronique, jours et heures de
          consultation ;
          — ses titres de formation ou autorisations enregistrés conformément à l’article
          L. 4322-2 ;
          — ses autres titres de formation ou fonctions dans les conditions autorisées par le
          Conseil national de l’Ordre ;
          — ses distinctions honorifiques reconnues par la République française ;
          — s’il y a lieu, la mention de son adhésion à une association de gestion agréée
          prévue à l’article 64 de la loi de finances pour 1977 ;
          — sa situation vis-à-vis des organismes d’assurance maladie ;
          — s’il exerce en association ou en société d’exercice libéral, les noms des
          pédicures-podologues associés.
        </p>
      </div>
      <div class="side-image">
      </div>
    </div>
    <div class= general-wrapper>
      <div class="general-content">
        <p>
          Art. R. 4322-72. - Les seules indications qu’un pédicure-podologue est
          autorisé à faire figurer dans les annuaires à usage public, quel qu’en soit le
          support, sont ses nom, prénoms, adresse postale, numéros de téléphone et
          télécopie, messagerie électronique.
          Les sociétés d’exercice en commun de la profession peuvent figurer dans les
          annuaires dans les mêmes conditions.
          Toute insertion payante dans un annuaire est considérée comme une publicité,
          et, à ce titre, interdite. Toutefois, des dérogations peuvent être accordées par le
          Conseil national de l’Ordre:
          — pour les pédicures-podologues qui exercent conjointement sans avoir
          constitué de société d’exercice en commun, afin qu’ils puissent mentionner
          leurs noms à usage professionnel dans les annuaires à usage du public ;
          — pour les pédicures-podologues qui souhaitent voir figurer dans l’annuaire
          leurs numéros de téléphone professionnels et que cette insertion est rendue
          payante par l’annonceur.
        </p>
      </div>
      <div class="side-image">
      </div>
    </div>
    <div class= general-wrapper>
      <div class="general-content">
        <p>
          Art. R. 4322-73. - Toute diffusion par un pédicure-podologue d’information,
          directe ou indirecte et par quelque moyen que ce soit, notamment sur un
          site internet, doit porter sur des données exactes, exhaustives, actualisées et
          objectives. Ces données informatives :
          — soit présentent un caractère éducatif ou sanitaire ;
          — soit figurent parmi les mentions légales autorisées ou prescrites par l’article
          R. 4322-71 ;
          — soit sont relatives aux conditions d’accès au lieu d’exercice et aux contacts
          possibles en cas d’urgence ou d’absence du professionnel.
        Le Conseil national de l’Ordre émet, dans ce domaine</p>
      </div>

      <div class="side-image">
      </div>
    </div>
  </div>

</div>
</div>
