<div class="navbar-fixed-top">
<%= render "shared/navbar"%>
</div>


<div class="containe">

  <div class="container-flui home-background" >

    <div class="general-wrapper" id="orthodexie">
      <div class="row">
        <div class="col-xs-12 col-md-offset-1 col-md-7 col-lg-offset-2 col-lg-6">
          <div class="row">
            <div class="general-content">
              <div class="row">
                <div class="col-xs-12 col-sm-8">
                  <div class="first-text text-left style1">
                    <h3>L'orhoplastie</h3>
                    <p>Les orthoplasties sont des orthèses d’orteils. Il s’agit d’appareillages amovibles, et réalisés sur-mesure qui permettent de corriger les déformations des orteils et leurs conséquences. Les orthoplasties ont pour fonction de soulager les symptômes de nombreuses pathologies telles que les cors dorsaux, les pulpaires, ou encore les hallux valgus et les cors interdigitaux par exemple que l’on nomme également «oeil de perdrix».</p>
                    <p>OthoplastieLes orthoplasties sont  réalisées à partir de moule sur le pied des patients de façon à ce que chaque orthèse d’orteil soit réalisée sur mesure. Pour ce qui concerne matériaux, les orthoplasties sont moulées en élastomère de silicone. Vous pouvez également opter pour des orthèses plantaires themoformées pour un gain de confort et d’efficacité.</p>
                    <p>Les orthoplasties sont conçues après un examen clinique détaillé qui commence en général par un dialogue avec le patient sur ses gênes. Ensuite, votre podologue réalise une étude des empreintes et des zones de pression dans différents cas : en décharge, en charge et en dynamique. Cet examen clinique peut se baser sur des clichés radiologiques.</p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                  <div class="first-image side-image pics">
                    <img src="https://res.cloudinary.com/dgbt9zicg/image/upload/c_scale,w_1280/v1509383250/orthoplastie_flbjab.png" alt="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-8">
                  <div class="text-left style1">
                    <h3>Le rôle de l’orthonyxie</h3>

                    <p>Depuis une dizaine d’années, différentes techniques permettent de décomprimer l’ongle en modifiant sa courbure, évitant la récidive d’un ongle incarné ou un acte chirurgical plus contraignant. Avant toute intervention, il faut faire un diagnostic de l’état de l’ongle et voir quel est l’appareillage le mieux adapté parmi les différentes techniques offertes par l’orthonyxie. </p>
                    <p>Ces interventions, qui s’apparentent à l’orthodontie, ont beaucoup évolué ces dernières années. Le podologue pourra utiliser le fil titane, le fil d’acier malléable, les languettes correctrices collées afin de décompresser l’ongle en soulevant légèrement les bords latéraux. L’onychoplastie permettra de remplacer totalement ou partiellement l’ongle, de façon temporaire, le temps d’une repousse unguéale normale. La photopolymérisation est une technique nouvelle de reconstitution de l’ongle, partielle ou totale (ongle artificiel de substitution), permettant dans certains cas de pratiquer une orthonyxie.</p>
                  </div>
                </div>

                <div class="col-xs-12 col-sm-4">
                  <div class="second-image side-image pics">
                    <div class='container-fluid'>
                      <div id="my-carousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
                          <li data-target="#my-carousel" data-slide-to="1"></li>
                          <li data-target="#my-carousel" data-slide-to="2"></li>
                          <li data-target="#my-carousel" data-slide-to="3"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner pics" role="listbox">
                          <div class="item active">
                           <img src="https://res.cloudinary.com/dgbt9zicg/image/upload/c_scale,w_1280/v1509383256/orthoplastie2_lkrphi.jpg" alt="">
                           <div class="carousel-caption">orthoplastie</div>
                         </div>
                         <div class="item">
                          <img src="https://res.cloudinary.com/dgbt9zicg/image/upload/c_scale,w_1280/v1509383250/orthoplastie_flbjab.png" alt="">
                          <div class="carousel-caption">Exemple de réalisation</div>
                        </div>
                        <div class="item">
                          <img src="https://res.cloudinary.com/dgbt9zicg/image/upload/c_scale,w_1280/v1509383297/semelles_irfmmr.jpg" alt="">
                          <div class="carousel-caption"></div>
                        </div>
                        <div class="item">
                          <img src="https://res.cloudinary.com/dgbt9zicg/image/upload/c_scale,w_1280/v1506528862/sport_zrloat.jpg" alt="">
                          <div class="carousel-caption"></div>
                        </div>
                      </div>
                      <!-- Controls -->
                      <a class="left carousel-control" href="#my-carousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Précédent</span>
                      </a>
                      <a class="right carousel-control" href="#my-carousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Suivant</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">

          <div class="btn-bas">
            <a class="btn-medium" href="../pages/rdv"> Prendre rendez vous
            </a>
          </div>

        </div>
      </div>
      <%= render "shared/sideinfos"%>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <%= render "shared/footer"%>
      </div>
    </div>
  </div>



</div>

</div>

