<div class="navbar-fixed-top">
<%= render "shared/navbar"%>
</div>


<div class="containe">

  <div class="container-flui home-background" >

    <div class="general-wrapper" id="pedicurie">
      <div class="row">
        <div class="col-xs-12 col-md-offset-1 col-md-7 col-lg-offset-2 col-lg-6">
          <div class="row">
            <div class="general-content">
              <div class="row">
                <div class="col-xs-12 col-sm-8">
                  <div class="first-text text-left style1">
                    <h3>La pédicurie</h3>
                    <p>Vous cherchez un pédicure à Sisteron ? Mme Guillaume est pédicure-podologue à Sisteron. Dans ce cadre, elle traite vos problèmes de pédicurie dans son cabinet médical situé à Sisteron .</p>

                    <p>Les soins de pédicurie sont des actes paramédicaux de soins des pieds qui traitent des problèmes touchant à la peau ou aux ongles du pied. Les soins de pédicurie ne sont pas des soins de beauté ; il s’agit avant tout de soins paramédicaux. L’objectif des soins de pédicurie est de soulager la douleur et les symptômes de pathologies du pied.</p>

                  </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                  <div class="first-image side-image pics">
                    <img src="https://res.cloudinary.com/dgbt9zicg/image/upload/c_scale,w_1280/v1506528881/Podiatry_vv1kft.jpg" alt="">
                  </div>
                </div>
              </div>
              <div class="row">

                <div class="col-xs-12 col-sm-4">
                  <div class="second-image side-image pics">
                    <div class='container-fluid'>
                      <div id="my-carousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
                          <li data-target="#my-carousel" data-slide-to="1"></li>
                          <li data-target="#my-carousel" data-slide-to="2"></li>
                          <li data-target="#my-carousel" data-slide-to="3"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner pics" role="listbox">
                          <div class="item active">
                           <img src="https://res.cloudinary.com/dgbt9zicg/image/upload/c_scale,w_1280/v1509465552/pedicurie-1_bqyeid.jpg" alt="">
                           <div class="carousel-caption"></div>
                         </div>
                         <div class="item">
                          <img src="https://res.cloudinary.com/dgbt9zicg/image/upload/c_scale,w_1280/v1509465548/pedicurie-3_ydltwe.jpg" alt="">
                          <div class="carousel-caption"></div>
                        </div>
                        <div class="item">
                          <img src="https://res.cloudinary.com/dgbt9zicg/image/upload/c_scale,w_1280/v1506528881/5631315_xxl_cwvsno.jpg" alt="">
                          <div class="carousel-caption"></div>
                        </div>
                        <div class="item">
                          <img src="https://res.cloudinary.com/dgbt9zicg/image/upload/c_scale,w_1280/v1509465549/pedicurie-2_lsk4p3.jpg" alt="">
                          <div class="carousel-caption"></div>
                        </div>
                      </div>
                      <!-- Controls -->
                      <a class="left carousel-control" href="#my-carousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Précédent</span>
                      </a>
                      <a class="right carousel-control" href="#my-carousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Suivant</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-8">
                <div class="text-left style1">
                  <p>Les soins de pédicurie pratiqués à Sisteron  dans le cabinet de Mme Guillaume peuvent concerner différentes zones du pied :
                    <li>la coupe des ongles</li>
                    <li>le désépaississement des ongles par fraisage</li>
                    <li>l’ablation des cors et de durillons</li>
                    <li>le traitement et la prévention des ongles incarnés</li>
                    <li>l’exérèse de l’hyperkeratose : traitement de la corne, des cales et crevasses</li>
                    <li>le traitement des mycoses</li>
                    <li>l’hygiène des pieds</li>
                  </p>

                  <p>La sécurité des actes est une priorité du cabinet de votre pédicure à Sisteron. Ainsi, tous les instruments utilisés dans les soins de pédicurie sont décontaminés avant chaque soin par un passage aux ultrasons, ensachés puis stérilisés grâce à un autoclave classe B.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="btn-bas">
            <a class="btn-medium" href="../pages/rdv"> Prendre rendez vous
            </a>
          </div>
        </div>
      </div>
      <%= render "shared/sideinfos"%>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <%= render "shared/footer-annu"%>
      </div>
    </div>
  </div>



</div>

</div>

