<div class="navbar-fixed-top">
<%= render "shared/navbar"%>
</div>


<div class="containe">

  <div class="container-flui home-background" >

    <div class="general-wrapper rendezvous">
      <div class="row">
        <div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
          <div class="row">
            <div class="general-content first-text">
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <div class="card-info parcours text-left style1">
                    <h3>Demande de rendez vous en ligne</h3>

                    <p><b>Merci de remplir correctement le formulaire afin de traiter au mieux votre demande de rendez vous. Nous vous confirmerons le rendez vous par mail ou telephone rapidement apres votre demande recue.</b></p>

                    <p>Attention, <b>pour les soins à domicile </b> merci d'appeler directement au cabinet 09 87 38 84 21. </p>

                    <div class="parcours text-left style2">
                      <h3>Important</h3>
                      <b>En cas d’urgence veuillez téléphoner directement au 09 87 38 84 21.</b>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="card-info">

                    <div class="content-info">
                      <p>
                        Pour un bilan postural, un bilan podologique ou un suivi des semelles merci de :
                        <ul>Venez avec les chaussures que vous mettez le plus souvent (sport, ville, securité, escarpin ) </ul>
                        <ul>Venez avec les examens complementaires si vous en avez (Irm, Radiographie, Echographie, Bilan Sanguin )</ul>
                        <ul>Venez avec vos anciennes semelle(s) orthopedique(s)</ul>
                        <ul>Prevoyez une tenue adaptée, c'est comme pour l'osteopathie.</ul></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <div class="card-info" >
                      <div class="title-info">
                        <h3>Cliquez ici pour prendre RDV</h3>
                      </div>
                      <div class="content-info">
                        <img src="https://res.cloudinary.com/dgbt9zicg/image/upload/v1509465549/rdv_opuzol.png" href="https://calendly.com/adeline-guillaume-podologue/rdv" alt="">
                      </div>
                      <a class="card-link" href="https://calendly.com/adeline-guillaume-podologue/rdv" ></a>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-6">
                    <div class="card-info">
                      <div class="title-info">
                        <h3>Jours et horaires d'ouverture</h3>
                      </div>
                      <div class="content-info">
                        <p>Consultations au cabinet:</p>
                        <li>Mardi de 8h30 à 20h</li>
                        <li>Jeudi de 8h30 à 20h</li>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="card-info">
                      <div class="title-info">
                        <h3>Comment venir au cabinet ?</h3>
                      </div>
                      <div class="content-info">
                        <p>Parking possible dans la résidence ou au parking de la gare</p>
                        <p>Immeuble du grand clots en face le parking de la gare</p>
                        <p>Entrée au fond de la cours à gauche de l'immeuble, Batiment A</p>
                        <a href="https://goo.gl/maps/66NiWLUQap42"><i class="fa fa-road"></i> Itinéraire Google Maps</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="card-info">
                      <div class="title-info">
                        <h3>Plan et situation</h3>
                      </div>
                      <div class="content-info">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1025.9094134656727!2d5.944622707549037!3d44.190864529956016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12cba6f45c3bbabd%3A0x4d351ca22347179f!2s24+Avenue+de+la+Lib%C3%A9ration%2C+04200+Sisteron%2C+France!5e1!3m2!1sfr!2sfr!4v1507285806042" width="250" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <%= render "shared/footer"%>
          </div>
        </div>
      </div>



    </div>

  </div>

