<div class="navbar-fixed-top">
<%= render "shared/navbar"%>
</div>


<div class="containe">

  <div class="container-flui home-background" >

    <div class="general-wrapper" id="sport">
      <div class="row">
        <div class="col-xs-12 col-md-offset-1 col-md-7 col-lg-offset-2 col-lg-6">
          <div class="row">
            <div class="general-content">
              <div class="row">
                <div class="col-xs-12 col-sm-8">
                  <div class="first-text text-left style1">
                    <h3>La podologie du sport</h3>
                    <p><span style="line-height: 18px; text-align: justify;">Une activité de marche sportive en montagne est une activité spécifique. Elle se prépare car le pied va subir des frictions, des agressions inhabituelles entrainant échauffements plantaires, hématomes, sensations de brûlures, ampoules, engelures, crevasses, fissures.... La peau est un vêtement souple, élastique, qui s'entretient, qui se prépare et qui se répare.&nbsp;</span></p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                  <div class="first-image side-image pics">
                    <img src="https://res.cloudinary.com/dgbt9zicg/image/upload/v1506528862/sport_zrloat.jpg" alt="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-8">
                  <div class="text-left style1">

                    <h3><span>Une bonne prévention passe par du bon matériel :</span></h3>
                    <p><span style="text-decoration: underline;">De bonnes chaussures</span> : plusieurs paires sont parfois nécessaires. Il faut veiller à adapter la bonne pointure. Attention au pied droit et gauche qui n'ont pas systématiquement la même pointure.</p>
                    <p><span style="text-decoration: underline;">De bonnes chaussettes</span>.</p>
                    <p><span style="text-decoration: underline;">Une bonne préparation de la peau et des ongles</span> : la peau va être vérifiée au moins une semaine avant le raid selon le niveau de marche demandée et massée avec des crèmes spéciales anti-frottement anti-transpirante. Les ongles seront coupés au carré 1 mm en avant de la pulpe de l'orteil. Si les ongles sont douloureux, il est recommandé de faire des soins chez un podologue avant le départ. En effet, les ongles vont subir des contraintes qui peuvent faire apparaître des hématomes rendant la marche impossible à cause du liquide collectionné sous la plaquette de l'ongle. Les espaces interdigitaux seront vérifiés (fissures).</p>
                    <p>Le matin du départ : séchage des pieds impeccable.</p>
                    <p>Les produits d'entretien de la peau doivent être emportés sur la course pour être appliqués régulièrement. &nbsp;En effet, il est possible d'en passer plusieurs fois dans la journée en cas d'échauffement ou d'ampoules en début de formation. Lors des passages en tout terrain (passage rivière), une ampoule peut survenir si le pied n'est pas suffisamment préparé par ces produits spécifiques.&nbsp;</p>
                    <p>La sollicitation du tout-terrain pour le pied est la meilleure garantie d'un bon équilibre en montagne si les trois composants <strong>chaussage, entretien et prévention</strong> sont respectés.</p>
                    <p style="text-align: center;"><strong>"J'ai mal aux pieds : je consulte un podologue"<br>Demandez conseil à votre podologue !</strong></p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                <div class="side-image second-image pics">
                  <div class='container-fluid'>
                    <div id="my-carousel2" class="carousel slide" data-ride="carousel">
                      <!-- Indicators -->
                      <ol class="carousel-indicators">
                        <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#my-carousel" data-slide-to="1"></li>
                        <li data-target="#my-carousel" data-slide-to="2"></li>
                        <li data-target="#my-carousel" data-slide-to="3"></li>
                      </ol>

                      <!-- Wrapper for slides -->
                      <div class="carousel-inner pics" role="listbox">
                        <div class="item active">
                         <img src="https://res.cloudinary.com/dgbt9zicg/image/upload/v1506528879/pexels-photo-356053_wxols2.jpg" alt="">
                         <div class="carousel-caption"></div>
                       </div>
                       <div class="item">
                        <img src="https://res.cloudinary.com/dgbt9zicg/image/upload/v1506528876/pexels-photo-260290_mehtsn.jpg" alt="">
                        <div class="carousel-caption"></div>
                      </div>
                      <div class="item">
                        <img src="https://res.cloudinary.com/dgbt9zicg/image/upload/v1509465558/semelle-orthopedique_rbyzcv.jpg" alt="">
                        <div class="carousel-caption"></div>
                      </div>
                      <div class="item">
                        <img src="https://res.cloudinary.com/dgbt9zicg/image/upload/v1506528868/running-shoe-shoe-brooks-highly-functional-54334_mbqbaf.jpg" alt="">
                        <div class="carousel-caption"></div>
                      </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#my-carousel2" role="button" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                      <span class="sr-only">Précédent</span>
                    </a>
                    <a class="right carousel-control" href="#my-carousel2" role="button" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                      <span class="sr-only">Suivant</span>
                    </a>
                  </div>
                </div>
              </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="btn-bas">
              <a class="btn-medium" href="../pages/rdv"> Prendre rendez vous
              </a>
            </div>
          </div>

        </div>
        <%= render "shared/sideinfos"%>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <%= render "shared/footer"%>
        </div>
      </div>
    </div>
  </div>
</div>

