<div class="navbar-fixed-top">
  <%= render "shared/navbar"%>
</div>


<div class="containe">

  <div class="container-flui home-background" >

    <div class="general-wrapper" id="tarifs">
      <div class="row">
        <div class="col-xs-12 col-md-offset-1 col-md-7 col-lg-offset-2 col-lg-6">
          <div class="row">
            <div class="general-content">
              <div class="row">
                <div class="col-xs-12 col-sm-8">
                  <div class="first-text text-left style1">
                    <h3>Les différents actes</h3>
                    <p>
                      <li><b>Soins de pédicurie</b> - 33 €</li>
                      <li><b>Consultation à domicile</b> - 38€ / 43€
                        <br> (Déplacement possible sur les communes de Ribiers, Noyers, Sourribes et Valerne etc.)</li>
                        <li><b>Bilan podologique complet </b> - 45 €</li>
                        <li><b>Semelles orthopédiques ( pointure supérieure au 35 )</b> - 130 €
                          <br> (Ce tarif comprend le bilan de podologie, la confection des semelles, la consultation de rendu et le suivi d'évolution sur 6 mois.)</li>
                          <li><b>Semelles orthopédiques (pointure du 28 au 35)</b> - 115 €</li>
                          <li><b>Semelles orthopédiques (pointure inférieure au 28)</b> - 100 €</li>
                          <li><b>Orthoplasties</b> - à partir de 20 € sur devis
                            <br> (la confection de l'orthoplastie uniquement)</li>
                            <li><b>Ortonyxie (prix par languette)</b> - 20 €</li>
                          </p>
                          <br>
                          <p>Moyens de règlement: chèques et espèces.</p>
                          <br>
                          <p>Il n’existe pas de prise en charge particulière pour les patients CMU les actes de pédicurie-podologie ne sont pas compris dans le panier CMU.</p>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-4">
                        <div class="first-image side-image pics">
                          <img src="https://res.cloudinary.com/dgbt9zicg/image/upload/v1509465548/Les-consultations-medicales_tqrbs7.jpg" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 col-sm-8">
                        <div class="text-left style1">
                          <h3>Prise en charge assurance maladie : Régime général</h3>
                          <p>
                            Les actes de pédicurie médicale ne sont pas pris en charge par l'assurance maladie MAIS sont cependant remboursés par certaines Mutuelles (merci de vous renseigner préalablement auprès de ces dernières).<br>
                          Les semelles orthopédiques sont prises en charge à ehauteur de 28.86€ par l'assurance maladie, la différence étant partiellement voire intégralement remboursée par la mutuelle (merci de vous renseigner, également, au préalable auprès de ces dernières). </p>

                          <h3>Prise en charge par l'assurance maladie pour les patients diabétiques</h3>
                          L'Assurance Maladie rembourse désormais les soins et actes de prévention des patients diabétiques de Grades 2 et 3 (gradation du groupe international de travail sur le pied diabétique)<br>
                          <br>
                          <b>Les lésions de Grade 2 :</b><br>
                          <br>
                          4 séances par an au maximum pour les patients présentant des lésions de grade 2.<br>
                          <br>
                          <b>Les lésions de Grade 3 :</b><br>
                          <br>
                          6 séances par an au maximum pour les patients présentant des lésions de grade 3.<br>
                          <br>
                          <b>Ces séances spécifiques doivent être prescrites par le médecin du patient diabétique sur ordonnances conformes.</b> Le pédicure-podolgue est tenu pour responsable en cas de gradation non justifiée, il a donc le devoir de refuser toute séance de soin injustifiée.
                          <br>
                          <br>

                          Le tarif de chaque séance est de  27 Euros (Février 2009).<br>
                          Elle est remboursée à 60% ou à 100% si vous êtes déjà pris en charge à 100 % par l'Assurance Maladie.<br></p>

                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-4">
                        <div class="first-image side-image pics">
                          <img src="https://res.cloudinary.com/dgbt9zicg/image/upload/v1509465556/Carte-vitale_iv0jwk.png" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="btn-bas">
                    <a class="btn-medium" href="../pages/rdv"> Prendre rendez vous
                    </a>
                  </div>
                </div>
              </div>
              <%= render "shared/sideinfos"%>
            </div>


            <div class="row">
              <div class="col-xs-12">
                <%= render "shared/footer"%>
              </div>
            </div>
          </div>
        </div>
      </div>
