_
.home-background{
  background: $yellow;
      background-image: linear-gradient(-180deg, rgba(42,245,152,0.00) 0%, rgba(0,0,0,0.50) 100%),
  url(https://res.cloudinary.com/dgbt9zicg/image/upload/c_fit,h_3200,w_1800/background_ncdtm7.png);
}

.banner {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.2) 50%),
  url(https://res.cloudinary.com/dgbt9zicg/image/upload/c_fit,h_3200,w_1800/Banner_av41ss.jpg);
}
.rendezvous {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.2) 50%),
  url(https://res.cloudinary.com/dgbt9zicg/image/upload/c_fit,h_3200,w_1800/Banner_av41ss.jpg);
}
.general-wrapper {
  position: relative;
  // opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover !important;
}

#podologie {
  background-image:linear-gradient(-225deg, rgba(255,255,255, 0.6) 40%, rgba(0, 36, 61, 0.2) 50%),
  url(https://res.cloudinary.com/dgbt9zicg/image/upload/c_fit,h_3200,w_1800/podologie_yb6vbu.jpg);
}

#semelles {
  background-image:linear-gradient(-225deg, rgba(255,255,255, 0.6) 40%, rgba(0, 36, 61, 0.2) 50%),
  url(https://res.cloudinary.com/dgbt9zicg/image/upload/c_fit,h_3200,w_1800/semelles_pk37r5.jpg);
}

#sport {
  background-image:linear-gradient(-225deg, rgba(255,255,255, 0.6) 40%, rgba(0, 36, 61, 0.2) 50%),
  url(https://res.cloudinary.com/dgbt9zicg/image/upload/c_fit,h_3200,w_1800/sport_zrloat.jpg);
}

#orthodexie {
  background-image:linear-gradient(-225deg, rgba(255,255,255, 0.6) 40%, rgba(0, 36, 61, 0.2) 50%),
  url(https://res.cloudinary.com/dgbt9zicg/image/upload/c_fit,h_3200,w_1800/pedicurie_tvpuo7.jpg);
}

#pedicurie {
  background-image:linear-gradient(-225deg, rgba(255,255,255, 0.6) 40%, rgba(0, 36, 61, 0.2) 50%),
  url(https://res.cloudinary.com/dgbt9zicg/image/upload/c_fit,h_3200,w_1800/Podiatry_vv1kft.jpg);
}

#adeline {
  background-image:linear-gradient(-225deg, rgba(255,255,255, 0.6) 40%, rgba(0, 36, 61, 0.2) 50%),
  url(https://res.cloudinary.com/dgbt9zicg/image/upload/c_fit,h_3200,w_1800/parcours_mcmitn.jpg);
}

#pathologies {
  background-image:linear-gradient(-225deg, rgba(255,255,255, 0.6) 40%, rgba(0, 36, 61, 0.2) 50%),
  url(https://res.cloudinary.com/dgbt9zicg/image/upload/c_fit,h_3200,w_1800/cabinet_pa2aao.jpg);
}

#tarifs {
  background-image:linear-gradient(-225deg, rgba(255,255,255, 0.6) 40%, rgba(0, 36, 61, 0.2) 50%),
  url(https://res.cloudinary.com/dgbt9zicg/image/upload/c_fit,h_3200,w_1800/rdv_ba7qr9.jpg);
}
