.btn-medium {
  color: $light-blue;
  border: 1px solid $light-gray;
  padding: 7px 20px;
  border-radius: 6px;
  font-family: $body-font;
  font-size: 25px;
  background-color: rgba(157, 180, 192,0.5);
  @media(max-width: 575px) {
    font-size:12px;
  }
}



.general-wrapper .btn-medium {
  position: absolute;
  bottom: 5%;
}
.btn-medium:hover {
  background-color: $yellow;
  color: $dark-gray;
  border: 1px solid $light-blue;
}
