.btn-medium {
  color: $dark-gray;
  border: 1px solid $dark-gray;
  padding: 7px 20px;
  border-radius: 6px;
  font-family: $body-font;
  font-size: 25px;
  background-color: rgba(157, 180, 192,0.4);
  @media(max-width: 575px) {
    font-size:12px;
  }
}

.general-wrapper .btn-medium {
  margin-bottom: 25px;
}

.btn-medium:hover {
  background-color: $yellow;
  color: $dark-gray;
  border: 1px solid $light-blue;
}
