

.footer-container {
  height: auto;
  width: 100vw;
  padding: 40px;
  margin-top: 10px;
}

@media only screen and (max-width: $breakpoint) {
  .footer-container {
    display: none;
  }
}

.footer {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  padding: 0px 50px;
  color: $light-gray;
}
.footer-links {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
  padding-left: 10%;
}
.footer-content {
  margin: 30px;
}
.contact {

}

.footer-links a {
  color: blue;
  text-decoration: none !important;
  font-size: 12px;
  padding: 0px 10px;
}
.footer-links a:hover {
  background: $blue;
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-copyright {
  padding-right: 10%;
  flex: 0 0 25%;
}
